{% extends 'layout/base.html' %}
{% block 'content'  %}
    <div class="container mt-5">
        {% csrf_token %}
        <script>
            const csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        </script>
        <h2 class="text-center">Chatbot con Inteligencia Artificial - Texto y Voz</h2>
        <h3 class="text-center">Trabajo Final de Grado - Alfonso Miralles Martínez</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mt-4">
                    <input id="questionInput" class="form-control" placeholder="Escribe tu pregunta aquí...">
                    <button id="submitQuestion" class="send-button">
                        <p class="mt-0">Enviar pregunta escrita</p>    
                    </button>
                </div>
            </div>
            <div class="col-md-6 text-center mt-4">
                <button id="micButton" class="mic-button">
                    <p class="mb-1">Pulse para hablar</p>
                    <i id="micIcon" class="fas fa-microphone"></i>
                </button>
            </div>
        </div>
        <div class="chat-history mt-5 bg-light p-3 rounded">
            <div id="answer"></div>
        </div>
    </div>
{% endblock %}   

{% block 'scripts'  %}
{% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}