{% extends 'layout/base.html' %}
{% block 'content'  %}
    <div class="hero-container">
        {% csrf_token %}
        <script>
            const csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        </script>
        <h1>Chatbot con Inteligencia Artificial - Texto y Voz</h1>
        <h2>Trabajo Final de Grado - Alfonso Miralles Martínez</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 d-flex justify-content-center">
                <div class="input-group mt-4 w-100 wider-input-group">
                    <div class="text-area-container">
                      <textarea id="questionInput" class="form-control" rows="1" placeholder="Escribe tu pregunta aquí..."></textarea>
                      <button id="submitQuestion" class="send-button" title="Enviar pregunta escrita">
                          <i class="fas fa-paper-plane"></i>    
                      </button>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center mt-4">
                <button id="micButton" class="mic-button" title="Pulse para hablar">
                    <i id="micIcon" class="fas fa-microphone"></i>
                </button>
            </div>
        </div>
        <div class="chat-history mt-5 bg-light p-3 rounded">
            <div id="answer"></div>
        </div>
    </div>
{% endblock %}   

{% block 'scripts'  %}
{% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}