{% load static %}
<!-- Navbar superior para el logo y Chatbot -->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/chatbot_logo.png' %}" width="40" height="40" alt="">
      Chatbot
    </a>
  </div>
</nav>

<!-- Navbar inferior para las opciones -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="margin-top: 56px;">
  <div class="container">
    <ul class="navbar-nav mx-auto d-flex" style="display: flex; flex-flow: row nowrap; justify-content: center;">
      {% if user.is_authenticated %}
      {% if user.is_staff%}
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'manage_responses' %}" title="Panel de administración"><i class="fas fa-cogs"></i></a>
      </li>
      <br>
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'evaluation_results' %}" title="Resultados de Evaluación"><i class="fas fa-chart-bar"></i></a>
      </li>
      <br>
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'chart_results' %}" title="Cuadro gráfico"><i class="fas fa-poll"></i></a>
      </li>
      {% endif %}
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'profile' %}" title="Perfil de usuario"><i class="fas fa-user"></i></a>
      </li>
      <br>
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'logout' %}" title="Cerrar sesión"><i class="fas fa-sign-out-alt"></i></a>
      </li>
      {% else %}
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'login' %}" title="Iniciar sesión"><i class="fas fa-sign-in-alt"></i></a>
      </li>
      <br>
      <li class="nav-item" style="display: inline-block; margin-right: 15px;">
        <a class="nav-link" href="{% url 'register' %}" title="Registrarse"><i class="fas fa-user-plus"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>